*(
    margin:0;
    padding:0;

)

.cabeçalho{
    background-color: blue;
    color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.foto{
    width: 20%;
}

.braços{
    background-color: blue;
    color: black;